img {
  border-radius: 15px;
  border: 15px solid #fff;
  box-shadow: 5px 3px 8px #999999;
  width: 45%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      margin-top: 2%;
      margin-right: 5%;
      margin-bottom: 3%;
      margin-left: 5%;
    }
.red {
  color: red;
}
.brown {
  color: brown;
}
.blue {
  color: blue;
}
